body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
}
.whole-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.video-container {
  width: 40vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  padding: 0.2rem;
}
.controls-container {
  width: 22vw;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#canvas {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  aspect-ratio: attr(width) / attr(height);
}
.btn {
  padding: 10px 20px;
  font-size: 0.8rem;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  user-select: none;
}
.selected-btn {
  background-color: red;
}
#effect-btns {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
}
.effect-btn {
  background-color: #1C4859;
  color: #ffffff;
  border: none;
  transition: background-color 0.2s ease;
}
.effect-btn:hover {
  background-color: #205A6E;
}
.special-btns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 1rem;
}
.special-btn {
  border: 1px solid gray;
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
  font-size: 0.8rem;
}
.special-btn > p {
  padding: 0;
  margin: 0;
}
.special-btn:hover {
  box-shadow: 0 0 0.6rem #0005;
}
.strength-control {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.strength-control > input {
  flex: 1;
}
